.body{
    background-color: #F8F8F8;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', Times, serif;
    color: #1D3557;
}
p{
    font-family: 'Open Sans', Times, serif;
    color: #878787;
}


#hero{
    background-image: url('../images/memphis-colorful.png');
    /*background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/

    padding: 100px 0;
}

.content{
    display: inline-block;
    background-color: #ffffff;
    padding: 20px;
}

/* Gallery */
#gallery{
padding: 50px 0;
background-color: #F8F8F8;
}
.grid-item{
    margin: 10px 0;
}

.imageHolder{
    position: relative;
   
}

.hover{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:flex-end;
    position: absolute;
    line-height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: rgba(29, 53, 87, .2);
    padding: 20px;

    transition: opacity .2s .2s ease-in-out;
}
.imageHolder:hover{
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    -o-box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2); 
}
.imageHolder:hover .hover{
    opacity: 1;
}

.hover .hoverContent{
    display: block;
    padding: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
}

.hover .hoverContent h5{
    color: #1D3557;
}

.hover .hoverContent a{
    display: inline-block;
    background-color: #1D3557;
    padding: 12px 24px;
    margin-top: 15px;
    color: #74B8B9;
    transition:  all .3s .2s ease;
    border-radius: 6px;
}
.hover .hoverContent a:hover{
    text-decoration: none;
    color: #1D3557;
    margin-left: 5px;
    background-color: #74B8B9;
}


/* esp integration */

#espIntegration{
    background-color: #fff;
    padding:100px 0;
    text-align: center;
}

.espTitle{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.espLogos li{
    display: inline;
    margin: 20px 10px;
    width:20%;
    max-width: 20%;
}


/* Footer */
#footer{
    padding: 100px 0;
    background-image: url('../images/memphis-colorful.png');
    /*background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    text-align: center;
}

.footerContent{
    display: inline-block;

color: #1D3557;
text-transform: uppercase;
font-weight: 700;
}
.footerContent p{
    color: #1D3557;
}
.footerContent i{
    color: #FF6363;
}
.footerContent a{
    color: #1D3557;
}
.footerContent a:hover{
    color: #FF6363;
    text-decoration: none;
}

.exoticLogo{
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
}